{% extends 'base.html.twig' %}

{% block title %}Choix par auteur{% endblock %}

{% block body %}
    <main>
        <h1>Choix par auteur</h1>
        <br>
        <div class="table-container">
            <table  >
                <thead>
                    <td>Nom</td>
                    <td>Livres</td>
                    <td>Genre</td>
                    <td>Actions</td>
                </thead>
                <tbody>
                    {% for author in authors %}
                        <tr>
                            <td>
                                {{ author.name }}
                            </td>
                            <td>
                                <select name="" id="">
                                    {% for book in author.books %}
                                        <option value="">
                                        {{ book.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <a href=""></a>
                                <a href=""></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
