{% extends 'base.html.twig' %}

{% block title %}Choix par auteur{% endblock %}

{% block body %}
    <main>
        <h1>Book bazar</h1>
        <br>
        <div class="table-container">
            {{ form(form) }}
        </div>
    </main>
{% endblock %}
